/*
    Document   : sesion
    Created on : 7/06/2012, 01:43:20 PM
    Author     : Josué Mtz.
    Description:
        Manejo del estilo para la el inicio de sesión
*/

root {
    display: block;
}

body {
    background: url(../images/general/fondo.gif);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-family: Arial;
    font-size: 10px;
}

/* =================== ESTILO DE SESIÓN =================== */

#contenedorSesion {
    position: absolute;
    top:45%;
    left: 39%;
    margin-top: -100px;
    margin-left: -100px;
}

#bannerSesion {
    width:492px;
    height:47px;
    background-image: url(../images/general/miniBanner.jpg);

            /* Firefox */
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
            /* Firefox */
    -webkit-border-radius: 25px 25px 0px 0px; /* Safari, Chrome */
    -khtml-border-radius: 30px 30px 0px 0px; /* Konqueror */

    /*-moz-box-shadow: 0px 0px 0.25em #ccc;
    -webkit-box-shadow: 0px 0px 0.25em #ccc;
    box-shadow: 0px 0px 0.25em #ccc;*/
}

#cuerpoSesion {
    width:492px;
    height:160px;
    background: #D8D8D8;

    /*border: .2em solid #fff;
    -moz-box-shadow: 0px 0px 0.25em #ccc;
    -webkit-box-shadow: 0px 0px 0.25em #ccc;
    box-shadow: 0px 0px 0.25em #ccc;*/
}

#pieSesion {
    width:492px;
    height:40px;
    background-image: url(../images/general/miniPiePagina.gif);

                /* Firefox */
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
                /* Firefox */
    -webkit-border-radius: 0px 0px 300px 300px; /* Safari, Chrome */
    -khtml-border-radius: 0px 0px 20px 20px; /* Konqueror */

    /*-moz-box-shadow: 0px 0px 0.25em #ccc;
    -webkit-box-shadow: 0px 0px 0.25em #ccc;
    box-shadow: 0px 0px 0.25em #ccc;*/
}

.textSesion {
    font-size: 24px;
    width: 95%;
    padding: 3px;
    margin-top: 8px;
    margin-right: 6px;
    margin-bottom: 8px;
    margin-left: 6px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
}

#bInicioSesion {
    position: relative;
    top:45%;
    left: 18%;
}

.bIniSesion {
    border-color: #CCCCCC;
    border-width: 2px;
    border-style: solid;
    background-color: #F2F2F2;
    color: #3383BB;
    font-weight: bold;
    cursor: pointer;
    line-height:40px;
    text-align: center;
    width:80px;
    height:40px;
    
            /* Firefox */
    border-bottom-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    border-top-left-radius: 0.7em;
            /* Firefox */
            
    -webkit-border-radius: 10px 10px 10px 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px 10px 10px 10px; /* Konqueror */
}

.bIniSesion:hover {
    color: #FFF;
    /* Color alternativo para versiones que no soporten degradados */
    background-color:#2B93D2;
    /* Safari 4+ y Chrome 1+ */
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #C6C6C6), color-stop(1, #999999));
    /* Safari 5.1+ y Chrome 10+ */
    background-image:-webkit-linear-gradient(#C6C6C6, #999999);
    /* Firefox 3.6+ */
    background-image:-moz-linear-gradient(top, #C6C6C6, #999999);
    /* Opera 11.10+ */
    background-image:-o-linear-gradient(top, #C6C6C6, #999999);
    /* Internet Explorer 5.5+ */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#C6C6C6', EndColorStr='#999999');
}

.bIniSesion:active {
    /* Color alternativo para versiones que no soporten degradados */
    background-color:#2B93D2;
    /* Safari 4+ y Chrome 1+ */
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #999999), color-stop(1, #C6C6C6));
    /* Safari 5.1+ y Chrome 10+ */
    background-image:-webkit-linear-gradient(#999999, #C6C6C6);
    /* Firefox 3.6+ */
    background-image:-moz-linear-gradient(top, #999999, #C6C6C6);
    /* Opera 11.10+ */
    background-image:-o-linear-gradient(top, #999999, #C6C6C6);
    /* Internet Explorer 5.5+ */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#999999', EndColorStr='#C6C6C6');
}

/*.textSesion:focus {
    background-color: #00FF00;
}*/


/* =================== ESTILO MENSAJES =================== */

.errors {
	font-size: 1.3em;
	/*line-height: 2;
	margin: 1em 2em;*/
	padding: 0.5em;
        text-align: center;

        background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;

        /*-moz-box-shadow: 0 0 0.25em #ff8888;
        -webkit-box-shadow: 0 0 0.25em #ff8888;
        box-shadow: 0 0 0.25em #ff8888;*/

}